<!--------------------------------- CONTACTS MENU --------------------------------->
<div class="someMenu" style="display: inline-block; width: 30%; margin-right: 10px; padding-right: 10px; border-right: 1px solid #a7a7a7">
    <div class="searchBox">
        <!--select for groups-->
        <div class="control-group row">
            <div class="col-lg-6 col-md-3 col-sm-6 col-xs-8 ">
                <label>Choose group: </label>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-6 col-xs-8 ">
                <select
                        class="form-control"
                        ng-model="chosenGroup"
                        ng-options="key for (key , value) in model"
                        ng-change="changeChosenGroupFn()"
                ></select>
            </div>
        </div>
        <br>

        <div class="control-group row">
            <div class="col-lg-6 col-md-3 col-sm-6 col-xs-8 ">
                <label>Search contact: </label>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-6 col-xs-8 ">
                <input class="form-control" ng-model="filterName">
            </div>
        </div>

        <br>

        <div class="control-group row">
            <label>Choose contact: </label>
        </div>

        <div class="row">
            <tabset vertical="true">
                <div ng-repeat="obj in chosenGroup | filter : filterName">
                    <tab heading="{{obj.name}}" select="selectNewTabFn( obj )" style="display: inline-block"></tab> <a ng-click="deleteContactFn( $index )">x</a>
                </div>

            </tabset>
        </div>
    </div>

    <div class="spacer"></div>
    <div class="row text-center">
        <button class="btn btn-default" ng-click="addNewGroupFn()">Add new Group</button>
        <button class="btn btn-default" ng-click="addNewContactFn()">Add new Contact</button>
    </div>
</div>

<!--------------------------------- CONTACT DETAILS --------------------------------->
<div ng-show="isNewGroupModeActive" style="display: inline-block; width: 65%; vertical-align: top">

    <div class="control-group row" >
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-8 ">
            <label class="control-label">New group: </label>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 ">
            <input class="form-control" ng-model="newGroup">
        </div>
    </div>
    <br>

</div>

<div ng-show="!isNewGroupModeActive" class="details" style="display: inline-block; width: 60%; vertical-align: top;"
        ng-form="contactForm">

    <div ng-repeat="(contactKey, contactValue) in chosenContact" ng-form="simpleForm">
        <div class="control-group row" >
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-8 ">
                <label class="control-label">{{contactKey}}: </label>
            </div>
            <div class="col-lg-6 col-md-4  col-sm-6 col-xs-8 ">
                <span class="form-control-static" ng-show="!isNewModeActive">{{contactValue}}</span>
                <input ng-show="isNewModeActive" class="form-control" ng-model="contactValue" ng-pattern="/0-9/"
                        name="{{ contactKey }}">
                {{simpleForm.contactKey.$error}}
            </div>
        </div>
        <br>
    </div>

    <div class="text-center">
        <button class="btn btn-default" ng-click="deleteContactFn()">Delete</button>
        <button class="btn btn-default" ng-click="editContactFn()">Edit</button>

        <button class="btn btn-default" ng-show="isNewGroupModeActive" ng-click="saveNewGroupFn()">Save group</button>
        <button class="btn btn-default" ng-show="isNewModeActive" ng-click="saveNewContactFn()">Save Contact</button>
        <button class="btn btn-default" ng-show="isNewGroupModeActive || isNewModeActive" ng-click="cancelSaveFn()">Cancel</button>
    </div>
</div>



